header{
background-color: blue;
color: black;
border: 2px solid black;
padding: 20;
text-align: center;
}
.image1{
background-color:200px bisque;
border: 2px black;
}
html body{
background-color: aqua;
}