html, body {
background-color: aqua;
}

header{
background-color: blue;
color: black;
border: 2px solid black;
padding: 40;
text-align: center;
}

main{
 padding:10px;
 border:2px solid black;
 margin: 2px;
 background-color: brown;
}

nav{
 background-color: aliceblue;
 padding:10px;
 border:2px solid black;
 margin: 2px;
}

.yellowtext{
color: yellow;
}

.flex-container{
 display: flex;
 flex-direction: column;
 background-color:cyan;
 padding:10px;
 border:2px solid black;
 margin: 2px;
}
