html, body {
background-color: aqua;
}
header{
background-color: blue;
color: black;
border: 2px solid black;
padding: 40;
text-align: center;
}
main{
background-color: brown;
border: 2px solid black;
}
nav{
background-color: aliceblue;
border: 2px solid black;
}
.yellowtext{
color: yellow;
}