html, body {
background-color: aqua;
}

header{
background-color: blue;
color: black;
border: 2px solid black;
padding: 40;
text-align: center;
}

main{
 padding:10px;
 border:2px solid black;
 margin: 2px;
 background-color: brown;
}

nav{
 background-color: aliceblue;
 padding:10px;
 border:2px solid black;
 margin: 2px;
}

.yellowtext{
color: yellow;
}

.flex-container{
 display: flex;
 flex-direction: column;
 background-color:cyan;
 padding:10px;
 border:2px solid black;
 margin: 2px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  main{
    background-color: lightgreen;
  }
}

@media screen and (min-width: 600px) {
.grid-container {
grid-template-columns: auto auto auto;
}
}